<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>SportStore</h2>
      <span>Welcome to Sports Store</span>
      <hr>
      <div class="p-2">
        <table class="table table-sm">
          <tr><th>Name</th><td>{{product.name || 'loading data...' }}</td></tr>
          <tr><th>Category</th><td>{{product.category || 'loading data...' }}</td></tr>
          <tr><th>Description</th><td>{{product.description || 'loading data...'}}</td></tr>
          <tr><th>Price</th><td>{{product.price || 'loading data...' }}</td></tr>
          <tr><th colspan="2" class="bg-info">Supplier</th></tr>
          <tr><th>Name</th><td>{{product.supplier?.name}}</td></tr>
          <tr><th>City</th><td>{{product.supplier?.city}}</td></tr>
          <tr><th>State</th><td>{{product.supplier?.state}}</td></tr>
          <tr><th>Products</th><td>{{product.supplier?.products?.length}}</td></tr>
        </table>
      </div>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-md-12">
      <div class="p-2">
        <table class="table table-sm table-striped">
          <tbody>
            <tr>
              <th>Name</th><th>Category</th><th>Price</th>
              <th>Supplier</th><th>Ratings</th>
            </tr>
            <tr *ngFor="let prod of products">
              <td>{{prod.name}}</td>
              <td>{{prod.category}}</td>
              <td>{{prod.price}}</td>
              <td>{{prod.supplier?.name || 'None'}}</td>
              <td>{{prod.ratings?.length || 0}}</td>
            </tr>
          </tbody>
          </table>
      </div>
    </div>
  </div>

</div>

<router-outlet></router-outlet>